<div class="d-flex justify-content-center add-post-style" style="max-width: 90rem;">
    <div class="card text-bg-light mb-3" style="width: 50rem;">
    <div class="card-header bg-dark text-light">Create New Post</div>
    <div class="card-body">
        <form class="login-form">
            <div>
                <label for="post-title ">Title</label>
            </div>
            <div>    
                <input type="text" class="post-title"  name="post-title">
            </div>
            <div>
                <label for="post-image ">Image url</label>
            </div>
            <div>    
                <input type="text" class="post-image"  name="post-image">
            </div>
             <div>
                <label for="post-price ">Price</label>
            </div>
            <div>    
                <input type="text" class="post-price"  name="post-price">
            </div>
            
            
            <div>
                <button type="submit" class="btn btn-dark">Create!</button>
            </div>
        </form>
    
    </div>
    </div>
</div>

<script src="/javascript/add-post-form.js"></script>