<div class="block">
  <div class="info">
    <h1>Smart Shopping</h1>
    <hr />
    <p>
      Make your shopping experience easier. Search for a product and get the
      relevant products available on sites like Flipkart, Snapdeal, Amazon; a
      fast way for online shopping.
    </p>
  </div>
</div>

<!--Section: Products v.3-->
<section class="text-center mb-4">

  <!--Grid row-->
  <div class="row wow fadeIn">

    {{#each posts as |post|}}
    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4">

      <!--Card-->
      <div class="card">

        <!--Card image-->
        <div class="view overlay">
          <img
            src="{{image_url}}"
            class="card-img-top"
            alt=""
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Card image-->

        <!--Card content-->
        <div class="card-body text-center bg-dark">
          <!--Category & Title-->
          <a href="" class="text-light">
            <h5>{{title}}</h5>
          </a>
          
          <h4 class="font-weight-bold text-light">
            <strong>${{price}}</strong>
          </h4>

        </div>
        <!--Card content-->

      </div>
      <!--Card-->

    </div>
    <!--Grid column-->
    {{/each}}

  </div>
</section>