<div class="block">
  <div class="info">
    <h1>Smart Shopping</h1>
    <hr />
    <p>
      Make your shopping experience easier. Search for a product and get the
      relevant products available on sites like Flipkart, Snapdeal, Amazon; a
      fast way for online shopping.
    </p>
  </div>
</div>

<!--Section: Products v.3-->
<section class="text-center mb-4">

  <!--Grid row-->
  <div class="row wow fadeIn">

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4">

      <!--Card-->
      <div class="card">

        <!--Card image-->
        <div class="view overlay">
          <img
            src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg"
            class="card-img-top"
            alt=""
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Card image-->

        <!--Card content-->
        <div class="card-body text-center">
          <!--Category & Title-->
          <a href="" class="grey-text">
            <h5>Shirt</h5>
          </a>
          <h5>
            <strong>
              <a href="" class="dark-grey-text">Denim shirt
                <span class="badge badge-pill danger-color">NEW</span>
              </a>
            </strong>
          </h5>

          <h4 class="font-weight-bold blue-text">
            <strong>120$</strong>
          </h4>

        </div>
        <!--Card content-->

      </div>
      <!--Card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4">

      <!--Card-->
      <div class="card">

        <!--Card image-->
        <div class="view overlay">
          <img
            src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13.jpg"
            class="card-img-top"
            alt=""
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Card image-->

        <!--Card content-->
        <div class="card-body text-center">
          <!--Category & Title-->
          <a href="" class="grey-text">
            <h5>Sport wear</h5>
          </a>
          <h5>
            <strong>
              <a href="" class="dark-grey-text">Sweatshirt</a>
            </strong>
          </h5>

          <h4 class="font-weight-bold blue-text">
            <strong>139$</strong>
          </h4>

        </div>
        <!--Card content-->

      </div>
      <!--Card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4">

      <!--Card-->
      <div class="card">

        <!--Card image-->
        <div class="view overlay">
          <img
            src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14.jpg"
            class="card-img-top"
            alt=""
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Card image-->

        <!--Card content-->
        <div class="card-body text-center">
          <!--Category & Title-->
          <a href="" class="grey-text">
            <h5>Sport wear</h5>
          </a>
          <h5>
            <strong>
              <a href="" class="dark-grey-text">Grey blouse
                <span class="badge badge-pill primary-color">bestseller</span>
              </a>
            </strong>
          </h5>

          <h4 class="font-weight-bold blue-text">
            <strong>99$</strong>
          </h4>

        </div>
        <!--Card content-->

      </div>
      <!--Card-->

    </div>
    <!--Grid column-->

    <!--Fourth column-->
    <div class="col-lg-3 col-md-6 mb-4">

      <!--Card-->
      <div class="card">

        <!--Card image-->
        <div class="view overlay">
          <img
            src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15.jpg"
            class="card-img-top"
            alt=""
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Card image-->

        <!--Card content-->
        <div class="card-body text-center">
          <!--Category & Title-->
          <a href="" class="grey-text">
            <h5>Outwear</h5>
          </a>
          <h5>
            <strong>
              <a href="" class="dark-grey-text">Black jacket</a>
            </strong>
          </h5>

          <h4 class="font-weight-bold blue-text">
            <strong>219$</strong>
          </h4>

        </div>
        <!--Card content-->

      </div>
      <!--Card-->

    </div>
    <!--Fourth column-->

  </div>
  <!--Grid row-->

  <!--Grid row-->
  <div class="row wow fadeIn">

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4">

      <!--Card-->
      <div class="card">

        <!--Card image-->
        <div class="view overlay">
          <img
            src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13.jpg"
            class="card-img-top"
            alt=""
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Card image-->

        <!--Card content-->
        <div class="card-body text-center">
          <!--Category & Title-->
          <a href="" class="grey-text">
            <h5>Shirt</h5>
          </a>
          <h5>
            <strong>
              <a href="" class="dark-grey-text">Denim shirt
                <span class="badge badge-pill danger-color">NEW</span>
              </a>
            </strong>
          </h5>

          <h4 class="font-weight-bold blue-text">
            <strong>120$</strong>
          </h4>

        </div>
        <!--Card content-->

      </div>
      <!--Card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4">

      <!--Card-->
      <div class="card">

        <!--Card image-->
        <div class="view overlay">
          <img
            src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14.jpg"
            class="card-img-top"
            alt=""
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Card image-->

        <!--Card content-->
        <div class="card-body text-center">
          <!--Category & Title-->
          <a href="" class="grey-text">
            <h5>Sport wear</h5>
          </a>
          <h5>
            <strong>
              <a href="" class="dark-grey-text">Sweatshirt</a>
            </strong>
          </h5>

          <h4 class="font-weight-bold blue-text">
            <strong>139$</strong>
          </h4>

        </div>
        <!--Card content-->

      </div>
      <!--Card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4">

      <!--Card-->
      <div class="card">

        <!--Card image-->
        <div class="view overlay">
          <img
            src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15.jpg"
            class="card-img-top"
            alt=""
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Card image-->

        <!--Card content-->
        <div class="card-body text-center">
          <!--Category & Title-->
          <a href="" class="grey-text">
            <h5>Sport wear</h5>
          </a>
          <h5>
            <strong>
              <a href="" class="dark-grey-text">Grey blouse
                <span class="badge badge-pill primary-color">bestseller</span>
              </a>
            </strong>
          </h5>

          <h4 class="font-weight-bold blue-text">
            <strong>99$</strong>
          </h4>

        </div>
        <!--Card content-->

      </div>
      <!--Card-->

    </div>
    <!--Grid column-->

    <!--Fourth column-->
    <div class="col-lg-3 col-md-6 mb-4">

      <!--Card-->
      <div class="card">

        <!--Card image-->
        <div class="view overlay">
          <img
            src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg"
            class="card-img-top"
            alt=""
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Card image-->

        <!--Card content-->
        <div class="card-body text-center">
          <!--Category & Title-->
          <a href="" class="grey-text">
            <h5>Outwear</h5>
          </a>
          <h5>
            <strong>
              <a href="" class="dark-grey-text">Black jacket</a>
            </strong>
          </h5>

          <h4 class="font-weight-bold blue-text">
            <strong>219$</strong>
          </h4>

        </div>
        <!--Card content-->

      </div>
      <!--Card-->

    </div>
    <!--Fourth column-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Products v.3-->