<form class="login-form">
  <div class="mb-3">
    <label for="loginUsername" class="form-label">Username</label>
    <input type="text" class="form-control" id="loginUsername" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="loginPassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="loginPassword">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>


<script src="/javascript/login.js"></script>