<form class="login-form">
  <div class="mb-3">
    <label for="signupUsername" class="form-label">Username</label>
    <input type="text" class="form-control" id="signupUsername" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="signupPassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="signupPassword">
  </div>
  <div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </div>
  
  <div>
    <a href="/login">Login!</a>
  </div>
  
</form>