html,
body,
header,
.carousel {
  height: 10vh;
}

header nav {
  background: #202020;
}
header .navbar {
  height: 120px;
}
header .navbar-brand {
  font-size: 80px;
}
.card-body h4,
h5 {
  font-size: 20px;
}

.info {
  margin-bottom: 30px;
}

.block {
  padding: 60px 0px;
  background: #efefef;
  color: #252525;
  text-align: center;
}

.card-img-top {
  height: 200px;
  width: 80px;
}

@media (max-width: 740px) {
  html,
  body,
  .carousel {
    height: 100vh;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  .carousel {
    height: 100vh;
  }
}
.view,
body,
html {
  height: 80%;
}
.carousel {
  height: 50%;
}
.carousel .carousel-inner,
.carousel .carousel-inner .active,
.carousel .carousel-inner .carousel-item {
  height: 100%;
}
@media (max-width: 776px) {
  .carousel {
    height: 100%;
  }
}

.login-box {
  margin: 50px auto;
  border: 1px solid black;
  border-radius: 5px;
  width: 50%;
  padding-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-label {
  font-weight: bold;
}
#username-box {
  margin: 10px;
}
#password-box {
  margin: 10px;
}
.submit-button {
  margin: 20px;
}
.sign-up {
  font-size: 20px;
  font-weight: bolder;
  margin: 10px;
}
